.hello-world-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;

    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url('/assets/icons/programmer1.jpg') center/cover no-repeat;

    background-attachment: fixed;
    background-position: center;
}

.hello-world {
    color: white;
    font-size: 12vw;
}

.content-container {
    display: flex;
    padding: 3rem;
    text-align: justify;
    gap: 2rem;
}

.img-container {

    min-width: 28rem;
    min-height: 23rem;
    border-radius: 10px;
    //overflow: hidden;
    background: url('/assets/icons/me.png') center/cover no-repeat;
    //box-shadow: .1rem .1rem .5rem 0 rgb(66, 65, 65);

}

.text-container {
    display: flex;
    flex-direction: column;

    padding: 3rem 5rem;
}

.text-content-header {
    font-size: 4rem;
    color: #06a191;
    margin-bottom: 0;

}

.text-content {
    padding-top: 0rem;
    font-size: 1.6rem;
    line-height: 3rem;
    text-indent: 5rem;
}

.img-container1 {
    min-width: 40rem;
    min-height: 40rem;
    border-radius: 10px;
    overflow: hidden;
    background: url('/assets/icons/programmer.jpg') center/cover no-repeat;
    // box-shadow: .1rem .1rem .5rem 0 rgb(66, 65, 65);

}

.text-container1 {
    display: flex;
    flex-direction: column;

    padding: 3rem 5rem;
}

.text-content-header1 {
    font-size: 4rem;
    color: #06a191;
    margin-bottom: 0;

}

.text-content1 {
    padding-top: 0rem;
    font-size: 1.6rem;
    line-height: 3rem;
    text-indent: 5rem;
}

@media (max-width: 768px) {
    .hello-world {
        font-size: 20vw;
    }

    .img-container {
        min-width: 25rem;
        min-height: 30rem;
    }

    .content-container {
        flex-direction: column;
        justify-content: row;
        align-items: center;
    }

    .text-container {
        padding: 0 .1rem;
    }

    .img-container1 {
        min-width: 25rem;
        min-height: 30rem;
    }

    .content-container1 {
        flex-direction: column;
        justify-content: row;
        align-items: center;
    }

    .text-container1 {
        padding: 0 .1rem;
    }
}

@media (max-width: 480px) {
    .hello-world {
        font-size: 20vw;
    }
}