<div class="home-container">

    <div class="home-content-container" id="hello-world-div">
        <h1 id="hello-world-heading" #textEffect>Hello World !</h1>
    </div>

    <div class="home-content-container" id="who-am-i-div">
        <div id="who-am-i-img-div">
        </div>

        <div id="who-am-i-content-div">
            <h1 id="who-am-i-title">PRADEESH</h1>
            <h2 id="who-am-i-sub-title">Java Enthusiast </h2>
            <p class="text-content">
                I build things. Front-end, back-end—doesn’t matter, as long as there’s good logic and clean code. Java
                is my strong suit (System.out.print("Hello World!"); still works flawlessly).<br><br>

                I have a keen interest in UI/UX design—still learning, but hey, every expert starts somewhere. Research
                and development? Been there, done that. I enjoy solving complex problems and making things work
                efficiently.<br><br>

                Also, I have a habit of coding at night. Not because it’s cool, but because bugs seem less annoying in
                the dark.

                Let’s build something great—preferably before sunrise.
            </p>
        </div>
    </div>

    <div class="home-content-container" id="what-im-doing-div">
        <div class="text-container1">
            <h1 id="skill-title">SKILLS</h1>
            <p class="text-content">

            </p>
        </div>

        <div class="img-container1">
        </div>
    </div>

    <app-let-me-cook></app-let-me-cook>

</div>