<div class="container">
    <div class="content-container" id="who-am-i">
        <h1 title="Human!">Who am I?</h1>
        <div>
            <p>
                I’m a <strong>Software Developer</strong> with experience in
                backend development, cloud integrations, and research-driven problem-solving.
                My journey started in Research & Development, exploring innovative solutions
                before transitioning into product development and client projects.

                I’ve worked with <strong>Java, Spring Boot, API integrations, and large-scale data migrations</strong>,
                focusing on optimizing workflows and building efficient solutions. With a strong foundation in
                software architecture and problem-solving, I enjoy tackling complex challenges
                and continuously learning new technologies.

                Beyond development, I have an interest in UI/UX design, ensuring that
                functionality meets great user experience. Whether it's designing scalable systems or
                researching cutting-edge solutions, I’m always driven to create impactful and efficient software.
            </p>
        </div>
    </div>

    <app-let-me-cook></app-let-me-cook>


    <!-- <div class="content-container" id="who-im-doing">
        <h1>What I'm doing?</h1>
        <div>
            <p>GitHub is a development platform inspired by the way you work. From open source to business, you can host
                and
                review code, manage projects, and build software alongside millions of other developers.</p>
        </div>
    </div>

    <div class="content-container" id="who-i-know">
        <h1>What I Know?</h1>
        <div>
            <p>GitHub is a development platform inspired by the way you work. From open source to business, you can host
                and
                review code, manage projects, and build software alongside millions of other developers.</p>
        </div>
    </div>

    <div class="content-container" id="who-i-know">
        <h1>What I'm good at?</h1>
        <div>
            <p>GitHub is a development platform inspired by the way you work. From open source to business, you can host
                and
                review code, manage projects, and build software alongside millions of other developers.</p>
        </div>
    </div>

    <div class="content-container" id="who-i-know">
        <h1>How to contact me?</h1>
        <div>
            <p>GitHub is a development platform inspired by the way you work. From open source to business, you can host
                and
                review code, manage projects, and build software alongside millions of other developers.</p>
        </div>
    </div> -->
</div>