.home-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
}

#hello-world-div {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url('/portfolio/assets/icons/programmer1.jpg') center/cover no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#hello-world-heading {
    color: #ececec;
    font-size: 12vw;
    transition: color 0.4s ease-in-out, transform 0.3s ease-in-out;
    will-change: transform, color;
}

#hello-world-heading:hover {
    // color: #bdc700;
    transform: scale(1.02);
    cursor: grab;
}

#who-am-i-div {
    display: flex;
    padding: 0 5rem;
    column-gap: 10rem;
    background: #eae9e9;
    //linear-gradient(#000, #000, #000, #000, #000, #000, #000, rgba(26, 26, 26, 0.782));
    text-align: center;
    flex: 1;
    // box-shadow: inset 0px 0px 2px 1px rgb(0, 0, 0);

    #who-am-i-title {
        font-size: 10VW;
        color: #06a191;
        margin-bottom: 0;
        text-align: center;
    }

    #who-am-i-sub-title {
        color: black;
        font-size: 3VW;
        margin-bottom: 0;
    }

    #who-am-i-img-div {
        min-width: 35rem;
        min-height: 45rem;
        background: url('/portfolio/assets/icons/me.png') center/cover no-repeat;
    }

    #who-am-i-content-div {
        display: flex;
        flex-direction: column;
        color: #484848db;
    }

}

.text-content {
    font-size: 2rem;
    line-height: 3rem;
}

#what-im-doing-div {
    display: flex;
    padding: 0 7rem;
    gap: 20rem;
    background: #26a89ba6;
    //linear-gradient(#68d8cdd3, #06a191, #00ffe5), center/cover no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#skill-title {
    font-size: 12vh;
}

@media (max-width: 768px) {

    #hello-world-heading {
        font-size: 15vw;
    }

    .home-content-container {
        flex-direction: column;
    }

    #who-am-i-div {
        padding: 1rem 2rem;
    }

    #who-am-i-img-div {
        min-width: 30rem !important;
        min-height: 45rem !important;
    }

    #who-am-i-title {
        font-size: 13VW !important;
    }

    #who-am-i-sub-title {
        font-size: 5VW !important;
    }

}

@media (max-width: 480px) {

    #hello-world-heading {
        font-size: 15vw;
    }

    .home-content-container {
        flex-direction: column;
    }

    #who-am-i-div {
        padding: 1rem 2rem;
    }

    #who-am-i-img-div {
        min-width: 60vw !important;
        min-height: 40vh !important;
    }

    #who-am-i-title {
        font-size: 13VW !important;
    }

    #who-am-i-sub-title {
        font-size: 5VW !important;
    }

    .text-content {
        text-align: justify;
    }
}